* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.footer__logo {
  margin-left: 1rem;
  width: max-content; }
  .footer__logo__copyright {
    margin-left: -1rem; }
  .footer__logo__imagen {
    display: inline-block;
    width: 120px;
    height: 70px; }

.footer__redes-sociales {
  display: flex;
  justify-content: flex-end;
  margin-right: 2.5rem; }
  .footer__redes-sociales__item {
    padding: 0 5px; }

.video {
  width: 560px;
  height: 315px; }

.mapa {
  width: 750px;
  height: 900px;
  border: 0; }

.logo {
  width: 100px;
  height: 79px;
  display: inline-block; }

legend {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1.5rem; }

fieldset label {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  margin-left: 20px; }

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%; }

.titulo, .subtitulo, .parrafo {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 3rem; }

.subtitulo, .parrafo {
  font-weight: 500;
  font-size: 2rem;
  margin: 1rem 0; }

.parrafo {
  text-align: justify;
  font-size: 1rem;
  margin: 2rem 0; }

footer {
  background-color: #D52B1E; }

footer span {
  color: #ffff; }

.redes_sociales_banner li a svg {
  width: 33px;
  height: 33px;
  fill: #ffff; }

.menu :hover {
  color: #D52B1E; }

a.nav-link {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin: 0 0.8rem;
  color: black; }

a.nav-link:hover {
  color: #D52B1E; }

.btn-borde {
  border-color: #D52B1E;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #D52B1E; }

.btn-borde:hover {
  background-color: #D52B1E;
  color: #ffff; }

.contenedor__boton {
  display: flex;
  flex-direction: row;
  justify-content: end; }

.btn-danger {
  background-color: #D52B1E; }

.btn-warning {
  color: #ffff; }

.contenedor__mapa iframe,
.contenedor__experiencia img {
  transition: all .9s ease;
  -webkit-transition: all .9s ease;
  /* Safari y Chrome */
  -moz-transition: all .9s ease;
  /* Firefox */
  -o-transition: all .9s ease;
  /* IE 9 */
  -ms-transition: all .9s ease;
  /* Opera */ }

.contenedor__mapa:hover iframe,
.contenedor__experiencia:hover img,
.contenedor__experiencia:focus img {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9); }

@media screen and (max-width: 450px) {
  .logo {
    display: inline-block;
    width: 50px;
    height: 79px; }
  .titulo_principal {
    display: none; }
  #aside_left {
    display: none; }
  #aside_right {
    display: none; }
  ul {
    font-weight: 500;
    font-size: 0.75rem; }
  li {
    margin: 0 0.5rem; }
  li a {
    color: #D52B1E; }
  #titulo_principal {
    display: none; }
  .titulo, .subtitulo, .parrafo {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1rem; }
  .subtitulo, .parrafo {
    font-weight: 300;
    font-size: 1.25rem;
    margin: 1rem 0; }
  .contenedor_parrafo {
    width: 80%; }
  .parrafo {
    font-weight: 300;
    font-size: 1rem;
    margin: 0.5rem 0; }
  .mapa {
    border: 0;
    width: 100%;
    height: 350px; }
  .video {
    width: 100%;
    height: 100%; }
  legend {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 0.8rem; }
  fieldset label {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    margin-left: 20px; }
  footer p {
    font-weight: 500;
    font-size: 1rem;
    color: #D52B1E;
    bottom: 0px; }
  .navbar-toggler {
    border-color: #D52B1E; }
  .border-danger {
    border-color: #D52B1E;
    color: #D52B1E; }
  .navbar-toggler-icon {
    color: #D52B1E; }
  .navbar-toggler:focus {
    border-color: #D52B1E; }
  .footer__logo {
    margin-bottom: 1.2rem; }
  .footer__logo__imagen {
    display: none; } }
