@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.footer__logo {
  margin-bottom: 0rem; }
  .footer__logo__imagen {
    display: inline-block;
    width: 120px;
    height: 70px; }

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%; }

.titulo {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  text-align: center; }

.subtitulo {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  margin: 1rem 0; }

.parrafo {
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  margin: 2rem 0; }

footer {
  background-color: #D52B1E; }

footer span {
  color: white; }

.redes_sociales_banner li a svg {
  width: 33px;
  height: 33px;
  fill: #fff; }

.logo {
  display: inline-block;
  width: 100px;
  height: 79px; }

.menu :hover {
  color: #D52B1E; }

.mapa {
  border: 0;
  width: 750px;
  height: 900px; }

a.nav-link {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin: 0 0.8rem;
  color: black; }

a.nav-link:hover {
  color: #D52B1E; }

.btn-borde {
  border-color: #D52B1E;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #D52B1E; }

.btn-borde:hover {
  background-color: #D52B1E;
  color: white; }

.contenedor__boton {
  display: flex;
  flex-direction: row;
  justify-content: end; }

.btn-danger {
  background-color: #D52B1E; }

.btn-warning {
  color: white; }

@media screen and (max-width: 450px) {
  .logo {
    display: inline-block;
    width: 50px;
    height: 79px; }
  .titulo_principal {
    display: none; }
  #aside_left {
    display: none; }
  #aside_right {
    display: none; }
  ul {
    font-weight: 500;
    font-size: 0.75rem; }
  li {
    margin: 0 0.5rem; }
  li a {
    color: #D52B1E; }
  #titulo_principal {
    display: none; }
  .titulo {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1rem; }
  .subtitulo {
    font-weight: 300;
    font-size: 1.25rem;
    margin: 1rem 0; }
  .contenedor_parrafo {
    width: 80%; }
  .parrafo {
    font-weight: 300;
    font-size: 1rem;
    margin: 0.5rem 0; }
  .mapa {
    border: 0;
    width: 100%;
    height: 350px; }
  .video {
    width: 100%;
    height: 100%; }
  /* Estilos de Experiencias */
  .contenedor_experiencia {
    display: flex;
    flex-direction: column;
    margin: 0px 5%; }
  .experiencia {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .experiencia_titulo {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1.5rem; }
  .experiencia_imagen {
    width: 100%;
    height: 440px; }
  .experiencia_parrafo {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1rem; }
  /* Fin de estilos de Experiencias */
  /* Estilos de Contáctanos */
  .contenedor_formulario {
    width: 90%; }
  legend {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 0.8rem; }
  fieldset label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    margin-left: 20px; }
  /* Fin de Estilos de Contáctanos */
  footer p {
    font-weight: 500;
    font-size: 1rem;
    color: #D52B1E;
    bottom: 0px; }
  .navbar-toggler {
    border-color: #D52B1E; }
  .border-danger {
    border-color: #D52B1E;
    color: #D52B1E; }
  .navbar-toggler-icon {
    color: #D52B1E; }
  .navbar-toggler:focus {
    border-color: #D52B1E; }
  .footer__logo {
    margin-bottom: 1rem; }
  .footer__logo__imagen {
    display: none; } }
