@import "partials/reset";
@import "partials/variables";
@import "partials/map";
@import "partials/footer";

@mixin sizes($width, $height){
    width: $width;
    height: $height;
}

@mixin efecto-transicion(){
    transition: all .9s ease;
    -webkit-transition: all .9s ease;
    /* Safari y Chrome */
    -moz-transition: all .9s ease;
    /* Firefox */
    -o-transition: all .9s ease;
    /* IE 9 */
    -ms-transition: all .9s ease;
    /* Opera */
}

@mixin efecto-zoom() {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}

@mixin fuente-formulario(){
    font-family: $fuente-principal;
    font-weight: $fuente-mediana;
}

.video {
    @include sizes(560px, 315px);
}

.mapa {
    @include sizes(750px, 900px);
    border: 0;
}

.logo {
    @include sizes(100px, 79px);
    display: inline-block;
}


legend {
    @include fuente-formulario();
    font-size: 1.5rem;
}

fieldset label {
    @include fuente-formulario();
    font-size: 1.2rem;
    margin-left: 20px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include sizes(100%, 100%);
}

.titulo {
    text-align: center;
    font-family: $fuente-principal;
    font-weight: $fuente-pesada;
    font-size: 3rem;
}

.subtitulo {
    @extend .titulo;
    font-weight: $fuente-mediana;
    font-size: 2rem;
    margin: 1rem 0;
}

.parrafo {
    @extend .subtitulo;
    text-align: justify;
    font-size: 1rem;
    margin: 2rem 0;
}

footer {
    background-color: map-get($map: $colores-turismo, $key: peru-color);
}

footer span {
    color: map-get($map: $colores-turismo, $key: white-color);
}

.redes_sociales_banner li a svg {
    @include sizes(33px, 33px);
    fill: map-get($map: $colores-turismo, $key: white-color);
}

.menu :hover {
    color: map-get($map: $colores-turismo, $key: peru-color);
}

a.nav-link {
    text-align: center;
    font-family: $fuente-principal;
    font-weight: $fuente-pesada;
    font-size: 1rem;
    margin: 0 0.8rem;
    color: black;
}

a.nav-link:hover {
    color: map-get($map: $colores-turismo, $key: peru-color);
}

.btn-borde{
    border-color: map-get($map: $colores-turismo, $key: peru-color);
    font-family: $fuente-principal;
    font-weight: $fuente-mediana;
    font-size: 1rem;
    color: map-get($map: $colores-turismo, $key: peru-color);
}

.btn-borde:hover{
    background-color: map-get($map: $colores-turismo, $key: peru-color);
    color: map-get($map: $colores-turismo, $key: white-color);
}

.contenedor__boton{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.btn-danger{
    background-color: map-get($map: $colores-turismo, $key: peru-color);
}

.btn-warning{
    color: map-get($map: $colores-turismo, $key: white-color);
}

.contenedor__mapa iframe,
.contenedor__experiencia img {
    @include efecto-transicion;
}

.contenedor__mapa:hover iframe,
.contenedor__experiencia:hover img,
.contenedor__experiencia:focus img  {
    @include efecto-zoom;
}

@media screen and (max-width: 450px) {

    .logo {
        display: inline-block;
        @include sizes(50px, 79px);
    }


    .titulo_principal {
        display: none;
    }

    #aside_left {
        display: none;
    }

    #aside_right {
        display: none;
    }

    ul {
        font-weight: $fuente-mediana;
        font-size: 0.75rem;
    }

    li {
        margin: 0 0.5rem;
    }

    li a {
        color: map-get($map: $colores-turismo, $key: peru-color);
    }

    #titulo_principal {
        display: none;
    }

    .titulo {
        font-weight: $fuente-mediana;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .subtitulo {
        font-weight: $fuente-liviana;
        font-size: 1.25rem;
        margin: 1rem 0;
    }

    .contenedor_parrafo {
        width: 80%;
    }

    .parrafo {
        font-weight: $fuente-liviana;
        font-size: 1rem;
        margin: 0.5rem 0;
    }

    .mapa {
        border: 0;
        @include sizes(100%, 350px);
    }

    .video {
        @include sizes(100%, 100%);
    }

    legend {
        font-family: $fuente-principal;
        font-weight: $fuente-liviana;
        font-size: 0.8rem;
    }

    fieldset label {
        font-family: $fuente-principal;
        font-weight: $fuente-mediana;
        font-size: 1rem;
        margin-left: 20px;
    }

    footer p {
        font-weight: $fuente-mediana;
        font-size: 1rem;
        color: map-get($map: $colores-turismo, $key: peru-color);
        bottom: 0px;
    }

    .navbar-toggler {
        border-color: map-get($map: $colores-turismo, $key: peru-color);
    }

    .border-danger {
        border-color: map-get($map: $colores-turismo, $key: peru-color);
        color: map-get($map: $colores-turismo, $key: peru-color);
    }

    .navbar-toggler-icon {
        color: map-get($map: $colores-turismo, $key: peru-color);
    }

    .navbar-toggler:focus {
        border-color: map-get($map: $colores-turismo, $key: peru-color);
    }

    .footer__logo{
        margin-bottom: 1.2rem;
    }

    .footer__logo__imagen{
        display: none;
    }

}

